/****BASE LAYOUT STYLES****/

/****font-family: 'Cabin', sans-serif;****/

* {
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  border-style: none;
  color: #989ba0
}

h1 {
  background: #F9AF05;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 1em;
}

h3 {
  margin: 10px 0 10px 0;

}

header {
  text-align: center;
  padding-bottom: 30px;
}


.contactinfoborder {
  border-top: 3px solid black;
  background-image: linear-gradient(black, black);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: left top 3px;
  padding-top: 30px;

}

.newsletterborder {
  border-top: 1px solid black;
  margin-top: 60px;
  padding-top: 30px;
}

fieldset {
  margin: -12px;
}

h2,
legend {
  color: black;
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}


label {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  cursor: pointer;
}

input[type="text"],
select,
textarea {
  border: none;
  background-color: #e5edf9;
  width: 100%;
  padding: 10px;
  margin: 0;
  border-radius: 5px;
}

input[type="text"]:last-of-type {
  width: 50%;
}

input:focus,
select:focus,
textarea:focus {
    background-color: #f4f9f9;
    border: dotted;
}

input[type="radio"],
input[type="checkbox"] {
  float: left;
  margin-left: -1px;
}

/* ---Change Checbox and Radiobutton Appearance-START--- */

input[type=radio],
input[type=checkbox] {
  visibility: hidden;
}

input[type=checkbox] + label:before {
  content: "\00a0";
  display: inline-block;
  height: 16px;
  margin: .2em 1em 0 -1.5em;
  padding: 0;
  background-color: #e5edf9;
  width: 16px;
  vertical-align: middle;
}

input[type=checkbox]:checked + label:before {
  content: "\2713";
  background: #5bc6b8;
  color: black;
  text-align: center;
  line-height: 1;
}

input[type=radio] + label:before {
  content: "";
  display: inline-block;
  height: 16px;
  margin: .2em 1em 0 -1.5em;
  padding: 0;
  background-color: #e5edf9;
  width: 16px;
  vertical-align: middle;
  border-radius: 50%;
}

input[type=radio]:checked + label:before {
  background-color: #5bc6b8;
  content: "\25CF";
  line-height: 0.9;
  text-align: center;

}


/* ---Change Checbox and Radiobutton Appearance-END--- */

::-webkit-input-placeholder {
  font-style: italic;
  text-align: right;
  padding-right: 10px;
}
:-ms-input-placeholder {
  font-style: italic;
  text-align: right;
  padding-right: 10px;
}

::-moz-placeholder {
  font-style: italic;
  text-align: right;
  padding-right: 10px;
}
:-moz-placeholder {
  font-style: italic;
  text-align: right;
  padding-right: 10px;
}


textarea {
  padding: 5px;
  margin-bottom: 30px;
  justify-content: left;
  height: 100px;
}

button {
  background-color: #5bc6b8;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 1.4em;
  width: 100%;
  margin: 0;
  padding: 20px;
}

footer {
  font-style: italic;
  text-align: center;
  padding: 20px 0 50px 0;
}

.openingline,
footer,
option {
  color: #989ba0;
}

h3,
label,
option {
  color: #58595b;
}



@media (min-width: 768px) {

  input[type="text"],
  select {
    width: 75%;
    float: right;
    padding: -10px;


  }

  input[type="text"]:last-of-type {
    width: 75%;
  }

  label[for="name"],
  input:not([type="radio"]):not([type="checkbox"]) ~ label {
    float: left;
    clear: both;
    padding: 20px;
  }




}
